@font-face {
    font-family: 'TT Commons', sans-serif;
    url('./fonts/Roboto/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons', sans-serif;
    url('./fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons', sans-serif;
    url('./fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geologica', sans-serif;
    url('./fonts/Geologica/Geologica.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
